@media only screen and (max-width:1000px){
    #burger{
        display:initial;
    }
    .navbar{
        justify-content:space-between;
        padding: 2.1rem 5rem;
    }
    .logo{
        align-self: flex-start; 
    }
    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top:85%;
        right: -300%;
        height: 100vh;
        width: 100%;     
        background: rgb(44, 41, 41);
        transition: 0.5s ease-in-out;
        z-index: 1000;
    }     
     .menu.active{
        right: 0;
    }
         .menu ul{
         display: flex;
        flex-direction: column;
        align-content: space-around;
        text-align: center;
        position: absolute;
        top: 60%;
        left: 50%;
        height: 90%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
      }
      .menu ul li{
        height: 10%;
      }
      .menu ul li a{
        text-decoration: none;
        font-size: 4rem;
        font-weight: 500;
        padding: 0.5rem 3rem;
        color: #fff;
        border-radius: 2rem;
        line-height: 40px;
        transition: all 0.3s ease;
        transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
     .menu ul li a:after{
        position: absolute;
        content: "";
        background: #fff;
        background: linear-gradient(375deg, #00eefa, greenyellow);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 50px;
        transform: scaleY(0);
        z-index: -1;
        transition: transform 0.3s ease;
      } 
      .menu ul li a:hover:after{
        transform: scaleY(1);
      }
      .menu ul li a:hover{
        color: black;}  
        .home .home-slider{
            padding-top: 7.5rem ;
        }
    .home .content h3{
        font-size:3.1rem ;
        }
        .home .content p{
            font-size:1.8rem ;
        }

        .book .content{
            flex-direction: column; 
            flex-flow: column-reverse;
        }
        .book .content .bookingForm{
            margin: 3rem 0 0 0;
        }
    }

@media only screen and (max-width:600px){
    /* responsive utilities starts*/
    main .heading{
        font-size: 3rem;
    }
    main .section:not(#home, #contact){
        padding: 3rem 0rem;
    }
    /* responsive utilities ends */
    .navbar{
        padding: 3rem 2rem;
    }
    #burger, .logo, .icons i{
        font-size: 2rem;
    }

    .menu ul li a{
        font-size: 3rem;
    }
    .login-form-container form{
        min-width: 35rem;
    }
    .home .home-slider{
            padding-top: 9rem ;
        }
    .home .content{
        padding: 2rem;
    }
    .home .content h3{
        font-size:2.9rem ;
        }
        .home .content p{
            padding:0rem 5rem 2rem 5rem;
            font-size:1.7rem ;
        }
        .home .content .btn{
          font-size: 1.8rem; 
        }
        .home .home-slider .slider-btn{
            font-size: 1.8rem;
            padding: 0.6rem 1.6rem;
        }
        .book .content .imageContainer{
            width: 38rem;
           }
        .book .content .bookingForm {
            width: 38rem;
        }
        .book .content .bookingForm form{
            padding: 2rem;
        }
        #services .content .card{
            padding:2.5rem 1rem;
            margin: 0 4rem;
        }
        #gallery .container .card .image img, #gallery .container .card .content{
            height: 30rem;
        }
        #contact .container {
            justify-content: center;
        }
        #contact .container .form-container{
            padding: 2rem 3rem;
            margin: 2rem;

        }
        #contact .form-container form :where(input, textarea){
            padding: 0.5rem;
            
        }
    }

@media only screen and (max-width:400px){

     /* responsive utilities starts*/
   
     main .heading{
        font-size: 2rem;
    }
   main .btn{
     padding: 0.7rem 2rem;       
    }
    /* responsive utilities ends */
    .navbar{
        padding: 2.5rem 1.5rem
    }
    #burger, .logo, .icons i{
        font-size: 1.7rem;
    }
    .icons i{
        margin-right: 1.5rem;
    }
    .menu ul li a{
        font-size: 2.5rem;
        margin: 0;
    }
    .login-form-container form{
        min-width: 25rem;
    }
    .login-form-container .user-login #close-form , .user-login h2{
        font-size: 2rem;
    }
    .user-login input{
        font-size: 1rem;
    }
    .user-login #login-btn{
        font-size: 1.5rem;
        padding: 0.7rem;
    }
    .user-login label{
        font-size: 1.3rem;
    }
    .user-login p{
        font-size: 1.2rem;
    }
    .new-user{
        padding: 1.5rem;
    }
    .new-user #new_user_btn{
        font-size: 1.4rem;
        padding: 0.6rem 1.8rem;
    }
    .home .home-slider{
        padding-top: 8rem ;
    }
    .home .content h3{
        font-size:2.5rem ;
        }
        .home .content p{
            font-size:1.5rem ;
        }
        .home .content .btn{
            padding: 0.5rem 2.5rem;
          font-size: 1.5rem; 
        }
        .home .home-slider .slider-btn{
            font-size: 1.6rem;
            padding: 0.6rem 1.4rem;
        }
        .book .content .imageContainer, .book .content .bookingForm {
            width: 25rem;
           }
           .book .content .bookingForm form{
            padding: 1.5rem;
        }
        .book .content .bookingForm form h3{
            font-size: 1.7rem;
        }
        
}