@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Pacifico&family=Roboto&display=swap');
@keyframes fade {
    from {opacity: .6}
    to {opacity: 1}
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, 'Roboto';
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

    /* navbar CSS starts */
.navbar{
    background: #2b2929;
    width: 100%;
    color: white;
    font-size: 2rem;
    padding: 2.1rem 0;
    position:fixed;
    top: 0;
    z-index: 1010;
    justify-content: space-around;
    box-shadow: 0 1px 10px 0px rgba(0, 0, 0, .4);
}
#burger{
    display: none;
    color: goldenrod;
    font-size: 2.2rem;
    border: 0.3rem solid rgb(44, 40, 40);
    border-radius: 4px;
    padding: 0.3rem 0.7rem;
    cursor: pointer;
}
.logo{
    font-size: 2.3rem;
    text-shadow: 0.1rem 0.1rem rgba(34, 30, 30, 0.726);
}
.logo span{
    color: #79c700;
}
.logo a{
    color: goldenrod;
    text-decoration: none;
}

ul{
    list-style: none;
}
ul li a{
    color:white ;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-size: 0.9em;
    margin:0 15px;
    user-select: none;
} 
nav ul li a:after {
    background-color:white;
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: center;
    transition: transform 0.25s ease-out;
  }
  
nav ul li a:hover:after{
    transform: scaleX(1);
    transform-origin: center;
  }
  .icons{
    user-select: none;
  }
.icons i{
    color: white;
    cursor: pointer;
    font-size: 2rem;
    -webkit-text-stroke: 1px white;
    margin-right: 2rem;
    transition: 0.3s;
}
.icons i:hover{
    color: goldenrod;
}
.search-bar-container{
    background-color:rgb(44, 41, 41) ;
    padding: 1.5rem;
    position: absolute;
    width: 100%;
    transform: scaleY(0);
    transform-origin: top;
    border-top: 0.1rem solid wheat;
    top: 100%;
    right: 0%;
    align-items: center;
    font-size: 2.8rem;
    transition: 0.4s;
    z-index: 10001;
}
.search-bar-container.active{
    transform: scaleY(1);
}
.search-bar-container #search-bar{
    width: 96%;
    border: none;
    border-radius: 0.6rem;
    padding: 0.2rem 1rem;
    font-size:small;
}
.search-bar-container label{
    font-size: 2.3rem;
    margin-left: 1.2rem;
    transition: 0.2s;
}
.search-bar-container label:hover{
    color: goldenrod;
    cursor: pointer;
}
    /* navbar CSS ends */

    /* Login form CSS starts */
.login-form-container .user-login #close-form{
    font-size: 3rem;
    align-self: flex-end;
    color: black;
    cursor: pointer;
    user-select: none;
}
.login-form-container{
    background-color: rgba(0,0,0,0.6);;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: -150%;
    min-height: 100vh;
    width: 100%;
    z-index: 2000;
    transition: 0.5s;
}
.login-form-container.active{
    top: 0;
}
.login-form-container form{
    background-color: white;
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    min-width: 50rem;
    box-shadow: 0 14px 15px 0px rgba(0, 0, 0, 0.7);
}
.login-form-container .user-login{
    flex-direction: column;
}
.user-login h2{
    font-size: 2.5rem;
    padding-bottom:1.5rem;
    text-align: center;
    color: rgb(73, 64, 64);
    font-weight: 600;
    user-select: none;
}
.user-login input{
    border: 0.2rem solid goldenrod;
    border-radius: 0.4rem;
    padding: 0.8rem;
    margin: 0.6rem 0;
    font-size: 1.5rem;
}
.user-login #login-btn{
    background-color: rgb(133, 187, 51);
    border: 0.3rem solid  rgb(133, 187, 51);
    border-radius: 0.8rem;
    color:rgb(251, 251, 251);
    font-weight: bolder;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: 0.5s;
}
.user-login #login-btn:hover{
    background-color: whitesmoke;
    color:  rgb(133, 187, 51);
}
.user-login label{
    align-self: flex-start;
    font-size: 1.5rem;
    padding: 0.7rem 0;
    user-select: none;
}
.user-login p{
    font-size: 1.5rem;
    padding: 0 0 1rem 0;
    text-align: center;
}
.user-login p a{
    text-decoration: none;
} 
.new-user{
    padding: 2rem;
    text-align: center;
    border-top: 0.1rem solid rgba(0,0,0,0.4);
}
.new-user #new_user_btn{
    background-color:goldenrod;
    padding: 1rem 2rem;
    border: 0.3rem solid goldenrod;
    border-radius: 0.8rem;
    color:rgb(251, 251, 251);
    font-weight: bolder;
    font-size: 1.8rem;
    letter-spacing: 0.05rem;
    cursor: pointer;
    transition: 0.5s;
}
.new-user #new_user_btn:hover{
    color: goldenrod;
    background-color: whitesmoke;
}
    /* Login form CSS ends */

    /* Home page CSS starts */
.home{
    min-height: 100vh;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.home .content{
    color: rgb(218, 165, 32);
    text-align: center;
    z-index: 1;
    user-select: none;
    text-shadow: 0.1rem 0.1rem black;
}
.home .content h3{
    font-size:3.2rem;
    text-transform: uppercase;
    line-height: 34px;
}
.home .content p{
    font-size:2rem;
    padding: 0 0 2.2rem 0;
}
.home .home-slider{
    padding-top: 7.5rem;
    height: 100%;
    width: 100%;
    object-fit:cover;
    position: absolute;
    top: 0;
    left: 0;
}
.home .home-slider .slider-content {
    height: 100%;
    width: 100%;
    z-index:-1;
    object-fit:cover;
    animation-name: fade;
  animation-duration: 1.5s;
  }
.home .home-slider .slider-btn{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 0.8rem 1.8rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    z-index: 100;
  }
.previous {
    left: 2%;
  }
.next {
    right: 2%;
  }
.home .home-slider .slider-btn:hover {
    color: rgb(255, 253, 253);
    background-color: rgba(0, 0, 0, 0.8);
  }
    /* Home page CSS ends */

  /* Booking page CSS starts*/

#book{
    min-height: fit-content;
    /* background-color: #74c20096; */
    /* border-radius: 2rem; */
}
.book .content{
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;   
}
.book .content .bookingForm {
    width: 60rem;
    margin-right: 3rem;
    background-color: white;
    border-radius: 2rem;
}
.book .content .bookingForm form{
    width: 100%;
    border-radius: 2rem;
    padding: 3rem;
    box-shadow: -1px 4px 6px 6px rgba(0, 0, 0, 0.07);
}
.book .content .bookingForm h3{
    font-size: 2rem;
    color: rgb(53, 47, 47);
    font-weight: 600;
    user-select: none;
}
.book .content .bookingForm input:not(.btn){
    border-color: #2b29292d ;
    width: 100%;
    border-radius: 0.4rem;
    padding: 0.7rem;
    margin: 0.8rem 0;
    font-size: 1.3rem;
}
.book .content .imageContainer{
 width: 55rem;
}
.book .content .imageContainer img{
    width: 100%;
    border-radius: 0.5rem;
}
/* Booking CSS ends */

/* Packages CSS starts */
#packages{
    background-color: #f6f6f65e;
}
#packages .content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#packages .content .card{
    overflow: hidden;
    margin: 2rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 40rem;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 10%);
    border-radius: 0.5rem;
}
#packages .content .card i, #reviews .container .card .rating{
    color: #79c700;
    font-size: large;
}
#packages .content .card .img-container img{
    object-fit: cover;
    height: 30rem;
    width: 100%;
    margin-bottom: 1.5rem;
}
#packages .content .card :where(h3, span){
    margin: 0.5rem 2rem;
}
#packages .content .card :where(.location, .price){
    font-size: large;
}
#packages .content .card :where(.original-price, .text){
    font-size:small;
    color: #747373;
}
/* Packages CSS ends */

/* Services CSS starts */

#services .content{
    display: flex;
    flex-wrap: wrap;
}
#services .content .card{
    padding: 3rem 1.5rem;
    margin: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex: 1 1 30rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
#services .content .card:hover{
    background-color:#77c70059;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 10%);
    transform: scale(1.1);
}
#services .content .card i{
    font-size: 6rem;
    color: #79c700;
}
#services .content .card h3{
    font-size: x-large;
    margin: 1rem 0;
}
#services .content .card .text{
    font-size: medium;
}

/* Services CSS ends */

/* Gallery CSS starts */
#gallery{
    background-color: #f6f6f65e;
}
#gallery .container{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}
#gallery .container .card{
    overflow: hidden;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 30rem;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
    border-radius: 0.5rem;
    position: relative;
}
#gallery .container .card .image img{
    object-fit: cover;
    height: 40rem;
    width: 100%;
    border-radius: 0.5rem;
}
#gallery .container .card .content{
    border-radius: 0.5rem;
    padding: 0 2rem;
    background-color:rgba(0,0,0,0.6);
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    position: absolute;
    bottom: 100%;
    transition: 0.5s;
}
#gallery .container .card:hover .content{
    bottom: 1%;
}
#gallery .container .card .content h3{
    color: #79c700;
    font-size: x-large;
}
#gallery .container .card .content :where(h3, span){
    margin: 1rem 0;
}
#gallery .container .card .content .text{
    color: white;
    font-size: 1.2rem;
}
#gallery .container .card .content .btn:hover{
    color: white;
}
/* Gallery CSS ends */

/* Reviews CSS starts */
#reviews .container{
    display: flex;
    flex-direction: row;
    width: fit-content;
    flex-wrap: wrap;
}
#reviews .container .card{
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 10%);
    border: 1px solid #2b29291f;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 3rem;
    display: flex;
   flex: 1 1 30rem;
    height: 40rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#reviews .container .card img{
    object-fit: cover;
    height: 15rem;
    border-radius: 50%;
    width: 15rem;
}
#reviews .container .card .name{
    font-size: x-large;
    font-weight: 600;
}
/* Reviews CSS ends */

/* Contact CSS starts */

#contact{
    padding-top:3rem;
}
#contact .img-container img{
    width: 100%;
    height: 100vh;
    object-fit: cover;

}
#contact .container {
    background: url(../images/contactbg.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content :right;
    align-items: center;
}
#contact .container .form-container{
    background-color:rgba(255, 255, 255, 0.829);
    width: 65rem;
    padding: 2rem 5rem;
    border-radius: 2rem;
    margin: 0 10rem;
}
#contact .container .form-container form{
    display: flex;
    justify-content: space-evenly;
    height:45rem;
    flex-direction: column;
}
#contact .form-container form :where(input, textarea){
    background: #f0efef;
    border: 0.2rem solid #79c700;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.6rem;
}
/* Contact CSS ends */

/* footer CSS starts */
.footer{
    background:#333;
    padding: 7rem;
  }
  
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
.footer .box-container .box{
    padding:1rem 0;
    flex:1 1 25rem;
  }
  
.footer .box-container .box h3{
    font-size: 2.5rem;
    padding:.7rem 0;
    color:#fff;
  }
  
.footer .box-container .box p{
    font-size: 1.5rem;
    padding:.7rem 0;
    color:#eee;
  }
  
.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding:.7rem 0;
    color:#eee;
    transition: 0.3s;
  }
  
.footer .box-container .box a:hover{
    color: #79c700;
    text-decoration: underline;
  }
  
.footer .credit{
    text-align: center;
    padding:2rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: normal;
    color:#fff;
    border-top: .1rem solid rgba(255,255,255,.2);
  }

/* footer CSS ends */